body{
    background-color: #ff00b7;
  }
  
  
  
  .container{
    background-color: white;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
  }
  
  
  .orange{
    background-color: #ff00b7;
  }
  
  
 
